/* Variables */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: '';
  src: url("");
}

html {
  /* makes 1rem = 10px */
  font-size: 62.5%;
}

body {
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

html, body {
  height: 100%;
  width: 100%;
  background-image: url(../img/brickwall.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}

a {
  color: black;
  text-decoration: none;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 25rem;
  width: 25rem;
  border-radius: 50%;
  margin: auto;
  margin-top: 2rem;
}

header .logo {
  position: relative;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

header a:hover {
  z-index: 1;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

header .logo-img {
  height: 20rem;
  width: 20rem;
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section {
  width: 100vw;
}

.boxes {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  height: auto;
  width: 100vw;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.boxes h1 {
  font-size: 10rem;
  color: white;
}

.boxes .menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 45rem;
  min-width: 90vw;
  border-radius: 10%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  margin: 2rem 2rem 2rem 2rem;
  background-color: #0a0909;
}

.boxes .menu-box:hover {
  z-index: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}

.boxes .box1 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/Taps.jpg");
  background-repeat: no-repeat;
  background-clip: inherit;
  background-size: cover;
  background-position: center top;
  position: relative;
  border-radius: 10%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.boxes .box1:hover {
  z-index: 2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.boxes .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 45rem;
  min-width: 90vw;
  border-radius: 10%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  margin: 2rem 2rem 2rem 2rem;
  background-color: #0a0909;
}

.boxes .social-box:hover {
  z-index: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}

.boxes .box2 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/MSOBcrowd.jpeg");
  background-repeat: no-repeat;
  background-clip: inherit;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.boxes .box2:hover {
  z-index: 2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.boxes .about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 45rem;
  min-width: 90vw;
  border-radius: 10%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  margin: 2rem 2rem 2rem 2rem;
  background-color: #0a0909;
}

.boxes .about-box:hover {
  z-index: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}

.boxes .box3 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/storefrontpana.jpg");
  background-repeat: no-repeat;
  background-clip: inherit;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.boxes .box3:hover {
  z-index: 2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.boxes .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 45rem;
  min-width: 90vw;
  border-radius: 10%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  margin: 2rem 2rem 2rem 2rem;
  background-color: #0a0909;
}

.boxes .contact-box:hover {
  z-index: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}

.boxes .box4 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/MSOBswag.jpeg");
  background-repeat: no-repeat;
  background-clip: inherit;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-radius: 10%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.boxes .box4:hover {
  z-index: 2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

@media only screen and (min-width: 576px) {
  section {
    width: 100vw;
  }
  .boxes {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    height: auto;
    width: 100vw;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .boxes h1 {
    font-size: 10rem;
    color: white;
  }
  .boxes .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 45rem;
    min-width: 45vw;
    border-radius: 10%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    margin: 2rem 2rem 2rem 2rem;
    background-color: #0a0909;
  }
  .boxes .menu-box:hover {
    z-index: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  }
  .boxes .box1 {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../img/Taps.jpg");
    background-repeat: no-repeat;
    background-clip: inherit;
    background-size: cover;
    background-position: center top;
    position: relative;
    border-radius: 10%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .boxes .box1:hover {
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    opacity: 0.8;
  }
  .boxes .social-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 45rem;
    min-width: 45vw;
    border-radius: 10%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    margin: 2rem 2rem 2rem 2rem;
    background-color: #0a0909;
  }
  .boxes .social-box:hover {
    z-index: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  }
  .boxes .box2 {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../img/MSOBcrowd.jpeg");
    background-repeat: no-repeat;
    background-clip: inherit;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .boxes .box2:hover {
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    opacity: 0.8;
  }
  .boxes .about-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 45rem;
    min-width: 45vw;
    border-radius: 10%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    margin: 2rem 2rem 2rem 2rem;
    background-color: #0a0909;
  }
  .boxes .about-box:hover {
    z-index: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  }
  .boxes .box3 {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../img/storefrontpana.jpg");
    background-repeat: no-repeat;
    background-clip: inherit;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .boxes .box3:hover {
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    opacity: 0.8;
  }
  .boxes .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 45rem;
    min-width: 45vw;
    border-radius: 10%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    margin: 2rem 2rem 2rem 2rem;
    background-color: #0a0909;
  }
  .boxes .contact-box:hover {
    z-index: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  }
  .boxes .box4 {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../img/MSOBswag.jpeg");
    background-repeat: no-repeat;
    background-clip: inherit;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 10%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .boxes .box4:hover {
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    opacity: 0.8;
  }
}

.menu-section {
  min-height: 90vh;
  width: 100vw;
  margin: auto;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-section .menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  max-height: 15rem;
  min-width: 60%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 10%;
}

.menu-section .menu-header h1 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 10rem;
  color: #030447;
}

.menu-section img {
  height: auto;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.menu-section .main-menu {
  width: 90%;
}

.menu-section .main-menu, .menu-section .cocktail-menu, .menu-section .bourbon-menu, .menu-section .wine-menu, .menu-section .dessert-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  width: auto;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
}

.menu-section .cocktail-menu {
  width: 48%;
}

.menu-section .bourbon-menu {
  width: 51%;
}

.menu-section .wine-menu {
  width: 48%;
}

.menu-section .dessert-menu {
  width: 50%;
}

.about {
  width: 95%;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  border-radius: 12%;
  padding: 1rem;
}

.about h1 {
  font-size: 6em;
  color: #030447;
  margin: 2rem;
}

.about h3 {
  font-size: 5em;
  color: #030447;
  margin: 2rem;
}

.about .about-txt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2rem;
          flex: 1 1 2rem;
  font-size: 2em;
  text-align: center;
  color: #030447;
  padding: 0.2rem;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

@media only screen and (min-width: 576px) {
  .about {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: white;
    border-radius: 10%;
    padding: 5rem;
  }
  .about h1 {
    font-size: 10rem;
    color: #030447;
    margin: 5rem;
  }
  .about h3 {
    font-size: 6rem;
    color: #030447;
    margin: 5rem;
  }
  .about .about-txt {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 2rem;
            flex: 1 1 2rem;
    font-size: 4rem;
    text-align: center;
    color: #030447;
    padding: 1rem;
    letter-spacing: 0.3rem;
    line-height: 2em;
  }
}

.contact-section {
  width: 95vw;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  border-radius: 13%;
  padding: 2rem;
}

.contact-section .address-info, .contact-section .rachel-info, .contact-section .angelina-info, .contact-section .chris-info, .contact-section .earl-info {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.contact-section h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 7rem;
  color: #030447;
  margin: 2rem;
  text-align: center;
}

.contact-section h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5rem;
  color: #030447;
  margin: 1rem;
}

.contact-section h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 4rem;
  color: #030447;
  margin: 1rem;
}

.contact-section p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  color: #030447;
  margin: 2rem;
}

@media only screen and (min-width: 576px) {
  .contact-section {
    width: 95vw;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: white;
    border-radius: 10%;
    padding: 2rem;
  }
  .contact-section .address-info, .contact-section .rachel-info, .contact-section .angelina-info, .contact-section .chris-info, .contact-section .earl-info {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .contact-section h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 10rem;
    color: #030447;
    margin: 5rem;
    text-align: center;
  }
  .contact-section h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 5rem;
    color: #030447;
    margin: 2rem;
  }
  .contact-section h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 4rem;
    color: #030447;
    margin: 2rem;
  }
  .contact-section p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    color: #030447;
    margin: 2rem;
  }
}

footer {
  min-height: 10vh;
  width: 100vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
}

footer a {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem;
  color: #030447;
}

footer h4 {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem;
  color: #030447;
}

footer h5 {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem;
  color: #030447;
}

footer .copyright {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

footer .icon a {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem;
  color: #030447;
}

@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
}
/*# sourceMappingURL=style.css.map */
